<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">

    <title>Jessie Zhang – About</title>

    <meta name="title" content="Jessie Zhang" />
    <meta name="description" content="Jessie Zhang is a designer interested in people, ethics and technology, using visual communication as a means to explore and interrogate the world and ourselves. Her work spans multiple disciplines, from branding and book design to photography and coding." />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="mobile.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-left">
                <h1><a href="/">Jessie Zhang</a></h1>
            </div>
            <div class="nav-right">
                <h1><a href="about">?</a></h1>
            </div>
        </nav>
        <div class="line"></div>
    </header>
    <div class="page-container">
        <div class="content-container">
            <div class="flex-container about-page">
                <div id="contact">
                    <p>
                        Get in touch via <a href="mailto:hello@jessieziyun.com" target="_blank">email</a>
                        <br>
                        Connect with me on <a href="https://www.instagram.com/jessieziyun/" target="_blank">Instagram</a>
                        <br>
                        Visit my <a href="https://github.com/jessieziyun" target="_blank">GitHub</a>
                    </p>
                </div>
                <div id="about">
                    <p>
                        I am a designer interested in people, ethics and technology, using visual communication as a means to explore and interrogate the world and ourselves. My work spans multiple disciplines, from branding and book design to photography and coding.
                    </p>
                </div>
            </div>
            <div class="flex-container-0-2">
                <div class="flex-thirds">
                    <br><br>
                    <h3>Education</h3>
                    <p>
                        <br>BA (Hons) Graphic Communication Design (with Creative Computing)
                    </p>
                    <small>Central Saint Martins, 2017-2021</small>
                    <p>
                        <br>Foundation Diploma in Art and Design
                    </p>
                    <small>Central Saint Martins, 2016-2017</small>
                </div>
                <div class="flex-thirds">
                    <br><br>
                    <h3>Awards</h3>
                    <p>
                        <br>D&AD New Blood Yellow Pencil 2020<br><br><br>
                    </p>
                    <h3>Experience</h3>
                    <p>
                        <br>Georgia Hardinge
                    </p>
                    <small>Film, Photography Content and Media Intern </small> 
                    <p>
                        <br>原麦山丘
                    </p>
                    <small>Graphic Design Intern</small>
                    <footer></footer>
                </div>
            </div>
        </div>
    </div>
</body>

</html>