<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">

    <title>Jessie Zhang</title>

    <meta name="title" content="Jessie Zhang" />
    <meta name="description" content="London based designer." />
    <meta property="og:url" content="https://jessieziyun.com/";>
    <meta property="og:title" content="Jessie Zhang";>
    <meta property="og:description" content="London based designer.";>
    <meta property="og:image" content="https://www.jessieziyun.com/assets/projects/speech-bubbles/speech-bubbles.jpg";>
    
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="jquery.hoverIntent.min.js"></script>
    <script src="mobile.js"></script>
    <script src="cover-images.js"></script>
</head>

<body>
    <header class="home">
        <nav>
            <div class="nav-left">
                <h1><a href="/">Jessie Zhang</a></h1>
            </div>
            <div class="nav-right">
                <h1><a href="about">?</a></h1>
            </div>
        </nav>
        <div class="line-white"></div>
    </header>
    <div id="page-container">
        <div class="cover-container">
            <img class="contain utopia" src="assets/projects/utopia/utopia.jpg" />
            <video autoplay loop muted playsinline class="contain speech-bubbles" src="assets/projects/speech-bubbles/speech-bubbles.mp4"></video>
            <img class="contain mars" src="assets/projects/mars/mars.jpg" />
            <video autoplay loop muted playsinline class="contain advertising-bot" src="assets/projects/a-b/a-b.mp4"></video>
            <video autoplay loop muted playsinline class="contain sonance" src="assets/projects/sonance/sonance.mp4" ></video>
            <video autoplay loop muted playsinline class="contain bbc-habitat" src="assets/projects/bbc-habitat/bbc-habitat.mp4" ></video>
        </div>
        <div class="projects">
            <div class="line-white"></div>
            <nav>
                <h2>
                    <ul>
                        <li><a href="utopia" class="utopia">Utopia</a>,&nbsp;
                        <li><a href="speech-bubbles" class="speech-bubbles">Speech Bubbles</a>,&nbsp;
                        <li> <a href="mars" class="mars">Mars</a>,&nbsp;
                        <li><a href="advertising-bot" class="advertising-bot">Advertising Bot</a>,&nbsp;
                        <li><a href="sonance" class="sonance">Sonance</a>,&nbsp;
                        <li><a href="bbc-habitat" class="bbc-habitat">BBC Habitat</a>
                    </ul>
                </h2>
            </nav>
        </div>
    </div>
</body>

</html>