<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">

    <title>BBC Habitat</title>

    <meta name="title" content="BBC Habitat" />
    <meta name="description"
        content="D&AD New Blood Awards Yellow Pencil Winner 2020. In a world increasingly saturated with data, how can we harness it for good? BBC Habitat is a way to reconcile our actions with their actual effect on the planet, by visualising users' impact on the natural world through a virtual representation of their carbon data, imagined as an ecosystem whose health depends on their actions." />
    <meta property="og:url" content="https://jessieziyun.com/bbc-habitat/";>
    <meta property="og:title" content="BBC Habitat";>
    <meta property="og:description" content="D&AD New Blood Awards Yellow Pencil Winner 2020. In a world increasingly saturated with data, how can we harness it for good?";>
    <meta property="og:image" content="https://jessieziyun.com/assets/projects/bbc-habitat/bbc-habitat.jpg";>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="/js/mobile.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-left">
                <h1><a href="/">Jessie Zhang</a></h1>
            </div>
            <div class="nav-right">
                <h1><a href="about">?</a></h1>
            </div>
        </nav>
        <div class="line"></div>
    </header>
    <div class="page-container">
        <div class="content-container">
            <div class="project-info">
                <div class="text-left">
                    <h3>BBC Habitat</h3>
                    <br>
                    <p>
                        Data Visualisation, Augmented Reality
                    </p>
                </div>
                <div class="text-right">
                    <p>
                        <a href="https://www.dandad.org/awards/new-blood/2020/bbc/3715/bbc-habitat/" target="_blank">D&AD New Blood
                            Awards Yellow Pencil Winner 2020.</a>
                        <br><br>
                        In a world increasingly saturated with data, how can we harness it for good? Climate change is
                        the most pressing issue of our generation, yet it can often feel distant and abstract.
                        <br><br>
                        BBC Habitat is an app that visualises users' carbon footprint as a personal Habitat. The
                        information that the app provides helps users understand how their actions affect the
                        environment, while the immersve experience of augmented reality brings people into the habitats
                        at risk to grant a feeling of connection to the natural world.
                    </p>
                </div>
            </div>
            <div class="player">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/436835860?title=0&byline=0&portrait=0"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
            <div class="flex-container padded">
                <div class="text-left">
                    <h4>Insight</h4>
                </div>
                <div class="text-right">
                    <p>16-24 year olds are concerned about climate change and want to change their behaviours to reduce
                        their impact on the environment but find it difficult to keep consistently motivated.</p>
                </div>
            </div>
            <img class="centre" src="assets/projects/bbc-habitat/app1.jpg">
            <div class="flex-container padded">
                <div class="text-left">
                    <h4>Strategy</h4>
                </div>
                <div class="text-right">
                    <p>Provide people with information about their carbon footprint and environmental news in an
                        engaging way to support them in making meaningful change.</p>
                </div>
            </div>
            <img class="centre" src="assets/projects/bbc-habitat/app2.jpg">
            <p class="role padded">
                <u>Role: Concept, Co-Creative Direction, Audio Visual</u><br>
                In collaboration with <a href="https://thomasbugg.com/" target="_blank">Thomas Bugg</a>, <a href="https://jannchoy.myportfolio.com/" target="_blank">Jann Choy</a> and <a href="https://bettyludesign.com/" target="_blank">Betty Lu</a>
            </p>
            <footer>
                <div class="line"></div>
                <nav>
                    <div class="nav-left">
                        <h4>&lt; <a href="sonance">Sonance</a></h4>
                    </div>
                </nav>
            </footer>
        </div>
    </div>
</body>

</html>