<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">

    <title>Mars</title>

    <meta name="title" content="Mars" />
    <meta name="description"
        content="Most people are unaware of what colonising Mars would mean for the planet. They do not know that it would mean the destruction of its natural, beautiful landscape." />
    <meta property="og:url" content="https://jessieziyun.com/mars/";>
    <meta property="og:title" content="Mars";>
    <meta property="og:description" content="Most people are unaware of what colonising Mars would mean for the planet. They do not know that it would mean the destruction of its natural, beautiful landscape.";>
    <meta property="og:image" content="https://jessieziyun.com/assets/projects/mars/mars.jpg";>
    <link rel="stylesheet" href="https://use.typekit.net/apc2ueg.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="/js/mobile.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-left">
                <h1><a href="/">Jessie Zhang</a></h1>
            </div>
            <div class="nav-right">
                <h1><a href="about">?</a></h1>
            </div>
        </nav>
        <div class="line"></div>
    </header>
    <div class="page-container">
        <div class="content-container">
            <div class="project-info">
                <div class="text-left">
                    <h3>Mars</h3>
                    <br>
                    <p>
                        Visual Identity
                    </p>
                </div>
                <div class="text-right">
                    <p>
                        Most people are unaware of what colonising Mars would mean for the planet. They do not know that
                        it would mean the destruction of its natural, beautiful landscape.
                        <br><br>
                        Our campaign is centred around creating a vulnerable persona for Mars as a body that wants to be
                        left alone.
                    </p>
                </div>
            </div>
            <img class="centre" src="assets/projects/mars/brandbook-cover.jpg">
            <img class="centre" src="assets/projects/mars/brandbook-binding.jpg">
            <img class="centre" src="assets/projects/mars/brandbook-pledge.jpg">
            <img class="centre" src="assets/projects/mars/poster1.jpg">
            <div class="flex-container">
                <img class="half" src="assets/projects/mars/poster2.jpg"><br>
                <img class="half" src="assets/projects/mars/poster3.jpg"><br>
            </div>
            <img class="centre" src="assets/projects/mars/brandbook-spread-illustration.jpg">
            <p class="role padded">
                <u>Role: Co-Creative Direction, Book Design, Strategy, Copywriting</u><br>
                In collaboration with <a href="https://www.addisonsilva.com/" target="_blank">Addison Silva</a> and <a href="https://rosiestephenson.com/" target="_blank">Rosie Stephenson</a>
            </p>
            <footer>
                <div class="line"></div>
                <nav>
                    <div class="nav-left">
                        <h4>&lt; <a href="speech-bubbles">Speech Bubbles</a></h4>
                    </div>
                    <div class="nav-right">
                        <h4><a href="advertising-bot">Advertising Bot</a> &gt;</h4>
                    </div>
                </nav>
            </footer>
        </div>
    </div>
</body>

</html>